:root {
  --dark: #252525;
  --light: #d7d7d7;
  --nav:  #a4a4a4;
  --shadow: #9e8e9c;
  --normal-weight: 400;
  --bold-weight: 700;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 

* {
  font-family: "Jura", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: var(--normal-weight);
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--light);
}

.siteheader, .title1, .title2, .title3 {
  color: var(--dark);
  font-weight: var(--bold-weight);
  text-align: left;
  padding: 40px;
  background: var(--shadow);
}

.title1, .title2, .title3 {
  width: 15%;
  height: auto;
  display: flex;
  justify-content: left;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: var(--bold-weight);
  margin-bottom: 15px;
}

h2 {
  font-size: 1.4rem;
  font-weight: var(--bold-weight);
  margin-bottom: 10px;
}

h3 {
  font-size: 1.3rem;
  font-weight: var(--bold-weight);
  margin-bottom: 10px;
}

a {
  font-weight: 500;
  color: var(--dark);
  text-decoration: inherit;
}
a:hover {
  color: var(--light);
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--light);
}

.nav-item {
  list-style-type: none;
  margin: 15px 15px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--shadow);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  display: flex;
}
